openapi: 3.0.0
info:
  title: Shutterstock API Reference audio test API
  description: The Shutterstock API provides access to Shutterstock's library of media, as well as information about customers' accounts and the contributors that provide the media. The API enables searching, browsing, licensing, and downloading images, videos, audio tracks, and sound effects. It also supports editorial content, computer vision features, collection management, and OAuth 2.0 authentication.
  version: 1.0.30
  contact:
    name: Shutterstock Developer Support
    url: https://www.shutterstock.com/developers/contact-us
  license:
    name: Shutterstock API Terms
    url: https://www.shutterstock.com/api/terms
servers:
- url: https://api.shutterstock.com
  description: Shutterstock API
tags:
- name: test
paths:
  /v2/test:
    get:
      parameters:
      - description: Text to echo
        in: query
        name: text
        schema:
          type: string
          default: ok
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestEcho'
              examples:
                response:
                  value:
                    text: ok
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      tags:
      - test
      operationId: echo
      summary: Echo text
  /v2/test/validate:
    get:
      parameters:
      - description: Integer ID
        in: query
        name: id
        required: true
        example: 123
        schema:
          type: integer
      - description: List of tags
        in: query
        name: tag
        schema:
          type: array
          items:
            type: string
      - description: User agent
        in: header
        name: user-agent
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestValidate'
              examples:
                response:
                  value:
                    header:
                      user-agent: PostmanRuntime/7.1.1
                    query:
                      id: 12
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      tags:
      - test
      operationId: validate
      summary: Validate input
components:
  schemas:
    TestValidateQuery:
      description: Validation results
      properties:
        id:
          description: Integer ID that was passed in the request
          type: integer
        tag:
          description: List of tags that were passed in the request
          items:
            type: string
          type: array
      required:
      - id
      type: object
    TestValidate:
      description: Validation results
      properties:
        header:
          $ref: '#/components/schemas/TestValidateHeader'
          description: Headers as included in the request
        query:
          $ref: '#/components/schemas/TestValidateQuery'
          description: Query as included in the request
      type: object
    TestValidateHeader:
      description: Validation results
      properties:
        user-agent:
          description: User agent to expect in the response
          type: string
      type: object
    TestEcho:
      description: Text to echo in the response
      properties:
        text:
          type: string
      type: object
  securitySchemes:
    basic:
      type: http
      scheme: basic
    customer_accessCode:
      type: oauth2
      x-shutterstock-realm: customer
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.shutterstock.com/oauth/authorize
          tokenUrl: https://api.shutterstock.com/v2/oauth/access_token
          scopes:
            licenses.create: Grant the ability to download and license media on behalf of the user.
            purchases.view: Grant read-only access to a user's purchase history.
            licenses.view: Grant read-only access to a user's licenses.
            collections.edit: Grant the ability to create new collections, edit a collection, and modify the contents of a collection
            collections.view: Grant read-only access to a collection and its contents.
