openapi: 3.0.0
info:
  title: Shutterstock API Reference audio users API
  description: The Shutterstock API provides access to Shutterstock's library of media, as well as information about customers' accounts and the contributors that provide the media. The API enables searching, browsing, licensing, and downloading images, videos, audio tracks, and sound effects. It also supports editorial content, computer vision features, collection management, and OAuth 2.0 authentication.
  version: 1.0.30
  contact:
    name: Shutterstock Developer Support
    url: https://www.shutterstock.com/developers/contact-us
  license:
    name: Shutterstock API Terms
    url: https://www.shutterstock.com/api/terms
servers:
- url: https://api.shutterstock.com
  description: Shutterstock API
tags:
- name: users
paths:
  /v2/user:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetails'
              examples:
                response:
                  value:
                    id: '101782699'
                    username: yourusername
                    full_name: your name
                    first_name: firstname
                    last_name: lastname
                    language: es
                    contributor_id: '212'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - contributor_accessCode:
        - user.view
        customer_accessCode:
        - user.view
      tags:
      - users
      operationId: getUser
      summary: Get user details
  /v2/user/access_token:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenDetails'
              examples:
                response:
                  value:
                    client_id: bf6e5dabd4rc1d770dc8
                    realm: customer
                    scopes:
                    - user.view
                    - user.edit
                    username: testuser
                    user_id: '120229367'
                    customer_id: '148363'
                    expires_in: 361354404
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - customer_accessCode: []
      tags:
      - users
      operationId: getAccessToken
      summary: Get access token details
  /v2/user/subscriptions:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDataList'
              examples:
                response:
                  value:
                    data:
                    - id: s1729
                      expiration_time: '2016-11-17T16:46:36-05:00'
                      license: standard
                      description: 25-A-Day Subscription
                      asset_type: images
                      formats:
                      - size: huge
                        format: jpg
                        media_type: image
                        min_resolution: 4000000
                        description: Huge
                      - size: medium
                        format: jpg
                        media_type: image
                        min_resolution: 1000
                        description: Med
                      - size: supersize
                        format: jpg
                        media_type: image
                        min_resolution: 16000000
                        description: Super
                      - size: small
                        format: jpg
                        media_type: image
                        min_resolution: 500
                        description: Small
                      - size: vector
                        format: eps
                        media_type: image
                        description: Vector
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - customer_accessCode:
        - purchases.view
      tags:
      - users
      operationId: getUserSubsciptionList
      summary: List user subscriptions
components:
  schemas:
    SubscriptionDataList:
      description: List of subscriptions
      properties:
        data:
          description: Subscriptions retrieved from this user
          items:
            $ref: '#/components/schemas/Subscription'
          type: array
        errors:
          description: Error list; appears only if there was an error
          items:
            $ref: '#/components/schemas/Error'
          type: array
        message:
          description: Optional error message
          type: string
        page:
          description: Current page that is being queried
          type: integer
        per_page:
          description: Amount of subscriptions to show per page
          type: integer
        total_count:
          description: Total number of subscriptions for this user
          type: integer
    Subscription:
      description: Subscription information
      properties:
        allotment:
          $ref: '#/components/schemas/Allotment'
        description:
          description: Description of the subscription
          type: string
        expiration_time:
          description: Date the subscription ends
          format: date-time
          type: string
        formats:
          description: List of formats that are licensable for the subscription
          items:
            $ref: '#/components/schemas/LicenseFormat'
          type: array
        id:
          description: Unique internal identifier for the subscription
          type: string
        license:
          description: Internal identifier for the type of subscription
          type: string
        asset_type:
          description: Identifier for the type of assets associated with this subscription (images, videos, audio, editorial)
          type: string
        metadata:
          $ref: '#/components/schemas/SubscriptionMetadata'
        price_per_download:
          $ref: '#/components/schemas/Price'
      required:
      - id
      type: object
    Price:
      description: Price
      properties:
        local_amount:
          description: Dollar amount of the calculated rev-share price in the currency local_currency
          type: number
        local_currency:
          description: Currency of the rev-share price that was calculated
          type: string
      type: object
    SubscriptionMetadata:
      description: Subscription metadata
      type: object
    AccessTokenDetails:
      description: Access token details that are currently associated with this user
      properties:
        client_id:
          description: Client ID that is associated with the user
          type: string
        contributor_id:
          description: Contributor ID that is associated with the user
          type: string
        customer_id:
          description: Customer ID that is associated with the user
          type: string
        expires_in:
          description: Number of seconds until the access token expires; no expiration if this value is null
          type: integer
        organization_id:
          description: Organization ID that is associated with the user
          type: string
        realm:
          description: Type of access token
          enum:
          - customer
          - contributor
          type: string
        scopes:
          description: Scopes that this access token provides when used as authentication
          items:
            type: string
          type: array
        user_id:
          description: User ID that is associated with the user
          type: string
        username:
          description: User name that is associated with the user
          type: string
      type: object
    Error:
      description: Error object
      properties:
        code:
          description: The error code of this error
          type: string
        data:
          description: Debugging information about the error
          type: string
        items:
          description: A list of items that produced the error
          items:
            type: object
          type: array
        message:
          description: Specific details about this error
          type: string
        path:
          description: Internal code reference to the source of the error
          type: string
      required:
      - message
      type: object
    LicenseFormat:
      description: Description of a license
      properties:
        description:
          description: Description of the license
          type: string
        format:
          description: Format or extension of the media, such as mpeg for videos or jpeg for images
          type: string
        media_type:
          description: Media type of the license
          enum:
          - image
          - video
          - audio
          - editorial
          type: string
        min_resolution:
          description: Width of the media, in pixels, allowed by this license
          type: integer
        size:
          description: Keyword that details the size of the media, such as hd or sd for video, huge or vector for images
          type: string
      type: object
    UserDetails:
      description: User details
      properties:
        contributor_id:
          description: Unique internal identifier of the user, as a contributor
          type: string
        customer_id:
          description: Unique internal identifier of the user, as a purchaser
          type: string
        email:
          description: Email address of the user
          type: string
        first_name:
          description: First name of the user
          type: string
        full_name:
          description: Full name including first, middle, and last name of the user
          type: string
        id:
          description: Unique internal identifier for the user, not tied to contributor or purchasing customer
          type: string
        is_premier:
          description: True if the user has access to the Premier collection, false otherwise
          type: boolean
        is_premier_parent:
          description: True if the user has access to the Premier collection and also has child users
          type: boolean
        language:
          description: Main language of the user account
          type: string
        last_name:
          description: Last name of the user
          type: string
        only_enhanced_license:
          description: True if the user has an enterprise license, false otherwise
          type: boolean
        only_sensitive_use:
          description: True if the user has access to sensitive use only, false otherwise
          type: boolean
        organization_id:
          description: Unique internal identifier for the user's organization, specific to Premier users
          type: string
        premier_permissions:
          description: List of permissions allowed through the Premier client
          items:
            type: string
          type: array
        username:
          description: User name associated to the user
          type: string
      type: object
    Allotment:
      description: An allotment of credits as part of a subscription
      properties:
        downloads_left:
          description: Number of credits remaining in the subscription
          type: integer
        downloads_limit:
          description: Total number of credits available to this subscription
          type: integer
        end_time:
          description: Date the subscription ends
          format: date-time
          type: string
        start_time:
          description: Date the subscription started
          format: date-time
          type: string
      type: object
  securitySchemes:
    basic:
      type: http
      scheme: basic
    customer_accessCode:
      type: oauth2
      x-shutterstock-realm: customer
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.shutterstock.com/oauth/authorize
          tokenUrl: https://api.shutterstock.com/v2/oauth/access_token
          scopes:
            licenses.create: Grant the ability to download and license media on behalf of the user.
            purchases.view: Grant read-only access to a user's purchase history.
            licenses.view: Grant read-only access to a user's licenses.
            collections.edit: Grant the ability to create new collections, edit a collection, and modify the contents of a collection
            collections.view: Grant read-only access to a collection and its contents.
